[Desktop Entry]
Encoding=UTF-8
Name[en_US]=Gryptonite
GenericName[en_US]=Gryptonite Encrypted Database
Terminal=false
Type=Application
Categories=Application;Security
